<% provide(:title, @user.name) %>
<% provide(:sub_title, 'Profile') %>
<div class="row">
  <div class="span12">
  	<p><h4> 
  	  <% if myself? %>Your Profile<% else %>Information  | <%= @user.name %><% end %>
	</h4></p>
	<%= render 'users/profile_table' %>
  </div>
</div>
