<ul class="nav nav-pills">
  <li>
    <label>You've received <u><strong><%= @invitations.count %></strong></u> invitations</label>
  </li>
</ul>
<table class="table table-condensed table-bordered">
  <tr>
  	<th>Email</th>
  	<th>Time</th>
  </tr>
  <% @invitations.each do |invitation| %>
    <tr>
      <td><%= invitation.user.email %></td>
      <td><%= invitation.created_at.to_formatted_s(:db) %></td>
    </tr>
  <% end %>
</table>