<% if @sent_invitations.any? %>
<div class="div-table">
<table class="table">
  <thead>  
    <tr>
      <th>Unconnected</th>
      <th>Email</th>
    	<th>Added at</th>
    </tr>
  </thead>
  <tbody>
    <% @sent_invitations.each do |invitation| %>
      <tr>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-mini btn-warning btn-remind" data-loading-text="Reminded">Remind</button>
            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "Cancel", '#' %></li>
            </ul>
          </div>          
        </td>
        <td><%= invitation.email %></td>
        <td><%= invitation.created_at.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div>
  <p><h5>&nbsp;&nbsp;&nbsp;Total Unconnected: <%= @sent_invitations.count %></h5></p>
</div> 
<% end %>