<table class="table">
  <thead>  
    <tr>
    	<th>Email</th>
    	<th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.email %></td>
        <td><%= invitation.created_at.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>