<ul class="nav nav-pills">
  <li>You have <u><strong><%= @contacts.count %></strong></u> contacts</li>
</ul>

<table class="table table-bordered">
  <tr>
  	<th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
    </tr>
  <% end %>
</table>