<%= form_for @user, url: passwords_path do |f| %>
  <label>Inupt email address to retrieve your password</label>
  <%= f.text_field :email, class:"search-query", placeholder: "Please input your account email" %>
  <%= f.submit "Reset password", class: "btn btn-primary" %>
<% end %>