<%= form_for @user, url: password_path do |f| %>
<label><h4>Set a new password</h4></label>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Re-type password" %>
  <br>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>