<p>Hi <%= @user.name %></p>
<br>
<p>We just received a request to reset your password.</p>
<p>Please use the following link to set your new password and sign in</p>
<br>
<p><%= reset_new_url %>?account_token=<%= @user.account_token %></p>