// Place all customized css here
@import "bootstrap";

body {
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 14px;
}

table {
  font-size: 12px;
}

.div-table {
  max-height: 450px;
  overflow: auto;
  background-color: #eeffff;
  border: 1px solid #ddeeee;
  -moz-border-radius: 5px;
  border-radius: 5px;
}